@tailwind base;
@tailwind components;
@tailwind utilities;

.cta {
    width: fit-content;
    padding-bottom: .5rem;
    border-bottom: 1px solid cyan;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.cta:hover {
    border-color: white;
}

.hero {
    background-image: url(../src/images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    
}
